/*
*-----------------------------------------------------------
* Colors
*-----------------------------------------------------------
*
* If desired, these can be modified later.
* Upon recompiling, all colors will be updated
*/
$theme-colors: (
  primary: (
    light: #5BDB14,
    normal: #1AC32A,
    dark: #17921D
  ),
  grey: (
    light: #ADADAD,
    normal:#7D7D7D,
    dark: #1D1D1D
  ),
  'white': (
    light:#FFFFFF,
    normal: #EEEEEE,
    dark: #DDDDDD
  ),
  background: (
    light: #2e2e2e,
    medium: #16151d,
    dark: #0b0a0d
  ),
  text: #FFFFFF,
  red: #D33C44,
  black: #0E0E0E,
);

/*
*-----------------------------------------------------------
* Settings
*-----------------------------------------------------------
*
* Some other settings that can be defined here
*/
$theme-settings: (
  font-family: (
    primary: 'Lato, Sans-serif'
  )
);

/*
*-----------------------------------------------------------
* Build this theme
*-----------------------------------------------------------
*
* Themes are to be built here so please make any changes 
* above here rather than below
*/
@import '../utilities/root';
