.blog-card {
  background: var(--background-medium);
  border-top: 1px solid var(--background-medium);
  border-bottom: 3px solid var(--background-medium);
  border-left: 1px solid var(--background-medium);
  border-right: 1px solid var(--background-medium);
  transition: all 0.3s;
  margin-bottom: 20px;

  &:hover{
    border-bottom: 3px solid var(--primary-normal);
  }
}

.blog-info {
  padding: 25px 25px 10px;
}

.blog-thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    max-width: 100%;
    transition: all 0.3s;
  }

  &:hover img {
    transform: scale(1.2) rotate(5deg);
  }
}

.blog-header{
  display: block;
  border-bottom: 0px;
}

.blog-title {
  margin: 0 0 16px;

  a {
    color: var(--white-light);
    transition: all 0.3s;

    &:hover {
      color: var(--primary-normal);
      text-decoration: none;
    }
  }
}

.blog-content {
  .more-link {
    background-color: var(--primary-normal);
    color: var(--white-light);
    position: relative;
    border: 0px;
    font-family: var(--font-family-primary);
    font-weight:600;
    margin: 3px 40px 5px 0;
    padding: 7px 15px 7px 15px;
    letter-spacing: 1px;
  }

  .post-content {
    color: var(--white-light);
    margin: 20px 0px 20px 0px;
  }

  .blog-meta {
    ul.post-categories {
      list-style: none;
      display: inline-block;
      margin: 0px 5px 0px 0px;
      padding: 0px;

      li {
        display: inline-block;
        margin: 3px 0px;
        padding: 0px;
        
        a {
          background-color: var(--primary-light);
          padding: 5px 12px;
          margin: 0px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-tap-highlight-color: transparent;
          vertical-align: middle;
          z-index: 1;
          will-change: opacity, transform;
          -webkit-transition: all .3s ease-out;
          -moz-transition: all .3s ease-out;
          -o-transition: all .3s ease-out;
          -ms-transition: all .3s ease-out;
          transition: all .3s ease-out;
        }
      }
    }
    time {
      color: var(--white-light);
      margin-left: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    span {
      color: #ADADAD;
      display: inline;
    }
  }
}

.blog-header{
  .blog-title {
    margin-bottom: 0;
  }
}