@import 'abstract/is-map';
@import 'abstract/map-deep-get';
@import 'abstract/safe-rgba';

@import 'components/button';
@import 'components/card';
@import 'components/checkbox-switch';
@import 'components/code';
@import 'components/contact-form';
@import 'components/flashes';
@import 'components/footer';
@import 'components/form-control';
@import 'components/jumbotron';
@import 'components/links';
@import 'components/modal';
@import 'components/navbar';
@import 'components/partners';
@import 'components/projects';
@import 'components/scroll-up';
@import 'components/sections';
@import 'components/services';
@import 'components/social-button';
@import 'components/social-media-icons';
@import 'components/spinner';
@import 'components/top-cards';
@import 'components/quotecard';
@import 'components/paginator';
@import 'components/img';

@import 'pages/blog';
@import 'pages/turtle-stream';

@import 'utilities/sizing';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-light);
  font-family: var(--font-family-primary);
  color: var(--text);
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
}

header {
  border-bottom: 7px solid var(--primary-normal);
  width: 100%;
}

main {
  flex: 1;
}