<p>
  Good<?= h($this->Time->getDaysection()); ?> <?= h($username); ?>,
</p>
<p>
  Just a little moment ago, you have requested to login on <a href="<?= h(\Cake\Routing\Router::url('/', true)); ?>">my master's website</a>.<br />
  Here is the code you'll need to login.<br />
  Please don't give this code to anyone else.<br />
  <br />
  <?= h(strtoupper($code)); ?><br />
  <br />
  If it wasn't you whom had requested this code, it can be ignored.
</p>
<p>
  Yours Sincerely,<br />
  FinlayDaG33k's WebMaid
</p>