<div id="comment-{{id}}">
  {{!-- Comment data --}}
  <div class="row">
    <div class="col-10">
      <div class="d-flex justify-content-end flex-column">
        {{!-- Username display --}}
        <b>
          {{#if user}}
            {{user.username}}
          {{else}}
            Anonymous
          {{/if}}
        </b>
        {{!-- Comment date display --}}
        <span class="text-muted">
          {{momentFormat posted format='MMM D, YYYY'}} at {{momentFormat posted format='HH:mm'}} (GMT+1)
          {{#switch status}}
            {{#case '0'}}| Pending Approval{{/case}}
            {{#case '2'}}| Marked as Spam{{/case}}
          {{/switch}}
        </span>
      </div>
    </div>

    {{!-- Show reply data, only if it is a reply --}}
    {{#with reply}}
      <div class="col-2">
        <a href="#comment-{{id}}" class="text-muted float-right">
          <i class="fas fa-reply" aria-hidden="true"></i>
          {{#if user}}
            {{user.username}}
          {{else}}
            Anonymous
          {{/if}}
        </a>
      </div>
    {{/with}}
  </div>

  {{!-- Actual comment --}}
  <div class="row mt-2 mb-2">
    <div class="col-12">
      {{nl2br body}}
    </div>
  </div>
    
  {{!-- Actions --}}
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-start">
        <div class="ml-auto p-2">
          {{#if user}}
            <button class="btn btn-primary bg-primary-normal rounded-0" id="btn-reply-{{id}}" data-user="{{user.username}}" data-comment-id="{{id}}">
              <i class="fas fa-reply" aria-hidden="true"></i> Reply
            </button>
          {{else}}
            <button class="btn btn-primary bg-primary-normal rounded-0" id="btn-reply-{{id}}" data-user="Anonymous" data-comment-id="{{id}}">
              <i class="fas fa-reply" aria-hidden="true"></i> Reply
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>