<div class="col-lg-4 col-sm-12">
  <a href="/projects/{{ id }}">
    <div class="project-card">
      <div class="project-thumbnail">
        {{#if (checkProjectThumbnail thumbnail)}}
          <img data-src="{{ thumbnail }}" class="img-responsive fadein">
        {{else}}
          <img data-src="/img/placeholders/1920x1080.webp" class="img-responsive fadein">
        {{/if}}
      </div>
      <div class="project-info">
        <header class="project-header">
          <h3 class="project-title">
            {{ name }}
          </h3>
        </header>
        <div class="project-content">
          <p>
            {{ description }}
          </p>
          <p>
            <a href="/projects/{{ id }}" class="more-link">Visit Project Page</a>
          </p>
        </div>
      </div>
    </div>
  </a>
</div>