<a class="dropdown-item" href="#" target="_blank"><i class="fas fa-gamepad"></i> Playing {{ game }}</a> 
<a class="dropdown-item" href="#" target="_blank"><i class="fas fa-clock"></i> Live for ~{{momentExpired start format="HH:mm:ss"}}</a> 
<a class="dropdown-item" href="#" target="_blank"><i class="fas fa-user-astronaut"></i> {{ viewers }} Viewers</a> 
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="https://twitch.tv/finlaydag33k" target="_blank">
  <i class="fab fa-twitch"></i> Watch on Twitch
</a> 