.contact-form {
  .input,textarea,button {
    margin: 0 0 16px 0;
  }

  .form-control {
    border-radius: 0;
    &:focus {
      border-color: var(--primary-normal);
      box-shadow: 0 0 0 0.2rem var(--primary-normal);
    }
  }
}