.alert {
  border-radius: 0;
  font-weight: 700;
  color: var(--grey-dark);

  &.alert-success {
    background-color: var(--primary-normal);
    border-color: var(--primary-normal);
  }

  &.alert-danger {
    background-color: var(--red);
  }
}