.page-footer {
  width: 100%;
  color: var(--white-light);
  background-color: var(--background-light);
  border-top: 7px solid var(--primary-normal);

  h3 {
    &:after{
      content: '\f111';
      font-family: 'Font Awesome 5 Free';
      vertical-align: baseline;
      font-size: 6px;
      padding: 0 0 0 2px;
      font-weight: 900;
      color: var(--primary-normal);
    }
  }

  a {
    color: var(--white-light);
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
      color: var(--primary-light);
      text-decoration: none;
      transition: color 0.3s ease;
    }

    &.scroll-up {
      color: var(--white-light);

      &:hover {
        color: var(--black);
      }
    }
  }

  .extra {
    padding: 1.5em 0 0 0;
  }

  .copyright {
    padding: 0 0 0.5em;
  }

  .copyright-icon {
    background: var(--white-light);
    mask-size: 16px 16px;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-bottom: -2px;

    &.oven { mask: url('../img/Oven.svg') no-repeat; }
    &.cake { 
      mask: url('../img/CakePHP.svg') no-repeat;

      &:hover {
        background: var(--primary-light);
      }
    }
  }

  #legal-stuff  {
    ul {
      list-style: none;
      padding-left: 0;

      li {
        line-height: 19px;
        padding: 6px 0;
        padding-top: 6px;
        color: var(--white-light);

        &:first-child {
          border-top: none;
          padding-top: 1px;
        }
      }
    }
  }
}
