.form-control {
  background-color: var(--background-light) !important;
  border-color: var(--primary-normal) !important;
  color: var(--white-light) !important;
  font-family: var(--font-family-primary);

  &::placeholder {
    font-weight: 700 !important;
    color: var(--white-light) !important;
  }

  &:hover {
    box-shadow: 0 0 0 0.2rem var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
  }

  &:focus {
    border-color: var(--primary-normal) !important;
    box-shadow: 0 0 0 0.2rem var(--primary-normal) !important;
  }
}