a > img {
  &.loaded + .img-loader { display: none; }

  /* When the image couldn't load */
  &.error + .img-loader { display: none; }
  &.error + .img-error { display: block; }
  &.error { display: none; }
}