.jumbotron {
  border-radius: 0px;
  background: var(--primary-normal);

  h1 {
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    font-weight: 600;
    color: var(--white-normal);
  }

  p {
    font-size: 24px;
    text-align: center;
    line-height: 60px;  
    font-weight: 400;
    color:var(--white-normal);
  }
}