section#navbar-greyline {
  border-top: 2px solid var(--background-medium);
  position: absolute;
  width: 100%;
  z-index: -1;
}

section#navbar {
  padding: 0 0;
}

nav.navbar {
  font-family: var(--font-family-primary);
  font-weight: 700;
  padding: 0 0 0 0;

  .navbar-nav {
    .active {
      > .nav-link {
        border-top: 2px solid var(--primary-normal);
        color: var(--primary-normal);
      }
    }

    .nav-link {
      min-width: 74px;
      text-align: center;
      border-top: 2px solid var(--background-medium);
      color: var(--white-light);
      transition: background-color 0.5s ease;

      &:hover {
        background-color: var(--background-medium);
      }
    }
  }

  a.nav-link {
    padding: 15px 25px;
  }

  .dropdown-menu {
    border: none;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    background-color: var(--background-light);
    padding: 0 0;
    transition: max-height 0.4s;
    max-height: 0;
    display: block;
    overflow: hidden;

    .dropdown-item {
      color: var(--white-light);
      font-weight: 600;

      &:hover {
        background-color: var(--background-dark);
      }
    }

    .dropdown-divider {
      border-top: 1px solid var(--background-dark);
      margin: 0;
    }
  }
  
  .dropdown.show .dropdown-menu {
    transition: max-height 0.4s;
    max-height: 190px;
  }

  .btn-outline-secondary {
    border-radius: 0;
    border-color: var(--primary-normal);
    color: var(--white-light);
  
    &:hover {
      background-color: var(--background-light);
      border-color: var(--primary-dark);
      box-shadow: 0 0 0 0.2rem var(--primary-dark);
    }
  
    &:active:focus {
      background-color: var(--background-light) !important;
      border-color: var(--primary-normal) !important;
      box-shadow: 0 0 0 0.2rem var(--primary-normal) !important;
    }
  }
}

.breathing-live {
  animation: breathing 1s infinite alternate;
}

@keyframes breathing {
  from {
    color: inherit;
  }

  to {
    color: var(--red);
  }
}