.page-item {
  background-color: var(--primary-normal);
  margin-bottom: 3px;
  border-color: var(--primary-normal);

  &:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }

  &:focus {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    box-shadow: 0 0 0 0.2rem var(--primary-dark);
  }

  & .active {
    background-color: var(--primary-light);
  }

  & .page-link {
    background-color: transparent;
    border: 0;
    color: var(--white-light);
  }

  &:first-child {
    & .page-link {
      border-radius: 0px;
    }
  }

  &:last-child {
    & .page-link {
      border-radius: 0px;
    }
  }
}