#partners {
  margin-top: 25px;
}
.partner-logo {
  height: auto;
  max-height: 102px;
  max-width: 100%;
  filter: grayscale(100%);
  transition: ease 0.2s;

  &:hover {
    filter: grayscale(0);
  }
}