#projects{
  padding: 25px 0 0 0;
  background-color: var(--background-dark);
}

.project-card {
  background: var(--background-light);
  border-bottom: 3px solid var(--background-light);
  border-left: 1px solid var(--background-light);
  border-right: 1px solid var(--background-light);
  transition: all 0.3s;

  &:hover{
    border-bottom: 3px solid var(--primary-normal);
  }
}

.project-info {
  padding: 25px 25px 10px;
}

.project-thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    max-width: 100%;
  }
}

.project-header{
  display: block;
  border-bottom: 0px;
}

.project-title {
  margin: 0 0 16px;
  color: var(--white-light);

  a {
    color: var(--white-light);
    transition: all 0.3s;

    &:hover {
      color: var(--primary-normal);
      text-decoration: none;
    }
  }
}

.project-content {
  & a {
    & p {
      &:hover {
        color: var(--white-light) !important;
      }
    }
  }

  .more-link {
    background-color: var(--primary-normal);
    color: var(--white-light);
    position: relative;
    border: 0px;
    font-family: var(--font-family-primary);
    font-weight:600;
    margin: 3px 40px 5px 0;
    padding: 7px 15px 7px 15px;
    letter-spacing: 1px;

    &:hover {
      color: var(--white-light);
    }
  }
}