.scroll-up {
  background-color: var(--primary-normal);
  color: var(--white-light);
  border-radius: 0px;
  bottom: 0px;
  display: block;
  font-size: 28px;
  height: 0px;
  opacity: 1;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 80px;
  overflow: hidden;
  z-index: 9999;
  transition: color 0.3s ease !important;
  transition: height 0.3s ease !important;

  &.visible {
    height: 40px;
  }
  
  &:hover{
    color: var(--grey-dark);
    transition: color 0.3s ease;
  }
}