.section-header { 
  margin: 0 0; 
  clear: both; 

  .section-title {
    background-color: var(--primary-normal);
    color: var(--white-light);
    /* position: relative; */
    border: 0px;
    font-family: var(--font-family-primary);
    font-weight:600;
    float: left;
    margin: 3px 40px 5px 0;
    padding: 7px 15px 7px 15px;
    letter-spacing: 1px;
  }

  .section-subtitle { 
    color: var(--white-light);
    font-weight: 500;
    position: relative; 
    line-height: 23px; 
    margin: 0; 
    margin: 15px 0 0 0;
  }
}

.section-body {
  color: var(--white-light);
  padding: 1.5em 0;
}