.service { 
  margin: 0px; 
  padding: 80px 0 30px;
}

.service-area {
  .media-body {
    /*padding: 0 0 0 35px;*/ 
    padding: 0;
  }

  .service-box {
    background-color: var(--background-light);
    border: 1px solid var(--primary-normal);
    border-radius: 0px;
    height: 90px;
    margin: 0 60px 40px 0;
    width: 90px;
    transform: rotate(45deg);
    position: relative;
    top: 20px;
    left: 20px;
    float: left;
    text-align: center;
    transition: all .2s ease;

    i {
      transform: rotate(-45deg);
      color: var(--white-light);
      display: block;
      font-size: 45px;
      line-height: 50px;
      margin: 0;
      position: relative;
      text-align: center;
      top: 20px;
      bottom: 0;
      transition: all 0.2s ease 0s;
    }
  }

  &:hover {
    .service-box {
      background-color: var(--primary-normal);

      i {
        color: var(--white-light);
      }
    }
  }
}

.service-btn { 
  display: block; 
  margin: 0; 

  a {
    color: #55585b;
    display: inline-block;
    font-family: var(--font-family-primary);
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 3px 0 0px;
    letter-spacing: 1px;
    padding: 0;
    transition: all 0.2s ease 0s;

    &:hover {
      padding-left: 7px; 
    }

    &:after {
      content: '\f105';
      font-family: 'Font Awesome 5';
      vertical-align: baseline;
      padding: 0 0 0 5px;
      font-weight: 500;
    }
  }
}

.service-area { 
  margin: 0 0 45px;
  h4 {
    color: var(--primary-normal); 
    font-family: var(--font-family-primary); 
    font-weight: 700; 
    margin: 0 0 15px; 
    letter-spacing: 1px;

    > a {
      color: #2a2e34; 
      transition: all 0.3s ease 0s; 
    }
  }

  p {
    margin: 0 0 11px; 
  }
}

.service-featured-img { 
  float: left; 
  margin: 0 25px 0 0px; 
  padding: 0; 
  width: 200px; 
  height: auto; 

  img {
    border-radius: 2px; 
    transition: all 0.3s ease-in-out 0s; 
  }
}

.service-area { 
  &:hover .service-featured-img img {
    opacity: 0.8; 
  }
}