.social-button {
  width: 2.75rem;
  height: 2.75rem;
  padding: 5px;
  background-color: var(--primary-normal);
  margin-bottom: 3px;
  border-color: var(--primary-normal);

  &:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }

  &:focus {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    box-shadow: 0 0 0 0.2rem var(--primary-dark);
  }

  .social-icon {
    width: 100%;
    height: 100%;

    color: var(--white-light);
    fill: currentColor;
  }
}