.sk-cube-grid {
  width: 0.75rem;
  height: 0.75rem;

  display: inline-block;

  .sk-cube {
    width: 33%;
    height: 33%;
    background-color: var(--white-light);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 

    &1 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
    }

    &2 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
    }

    &3 {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s;
    }

    &4 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
    }

    &5 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
    }

    &6 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
    }

    &7 {
      -webkit-animation-delay: 0s;
              animation-delay: 0s;
    }

    &8 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
    }

    &9 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
    }
  }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 
  
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 

  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}