section#top-cards .brand{
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 2.50rem;
  line-height: inherit;
  white-space: nowrap;
  font-weight: 700;
  color: var(--primary-normal);
  height: 64px;

  img {
    max-height: 100%;
    margin-bottom: 50%;
  }
}