<div class="row" id="intro">
  <div class="col-md-12">
    <div class="jumbotron" id="intro-jumbotron">
      <h1 class="display-3 text-danger">Well that didn't work out...</h1>
      <p class="lead text-danger">
        It seems like I fucked up somewhere...
      </p>
    </div>             
  </div>
</div>
<div class="container"> 
  <div class="row">
    <div class="col-12">
      <p>
        I am currently unaware of this error and probably won't be for a while...<br />
        If you think this is an important error to fix, please head over to my <a href="https://www.reddit.com/r/FinlayDaG33k" rel="noopener">sub-reddit</a> to let me know.
      </p>
    </div>
  </div>
</div>
