<div class="alert alert-danger" role="alert">
  <b>Disclaimer</b><br />
  This post is intended for <strong>educational</strong> use only.<br />
  I am in no way or shape responsible for any damages done!<br />
  Please make sure you made adequate preperations before proceeding.
</div>