<div class="alert alert-danger" role="alert">
  <b>Disclaimer</b><br />
  This post is based around <strong>MY</strong> opinion.<br />
  This post might not agree with your opinions on the subject.
</div>