@import '../abstract/is-map';

:root {
  @each $color, $value in $theme-colors {
    @if is-map($value) == true {
      @each $child-color, $value in $value{
        --#{$color}-#{$child-color}:  #{$value};
      }
    } @else {
      --#{$color}: #{$value};
    }
  }

  @each $setting, $value in $theme-settings {
    @if is-map($value) == true {
      @each $child-setting, $value in $value{
        --#{$setting}-#{$child-setting}:  #{$value};
      }
    } @else {
      --#{$setting}: #{$value};
    }
  }
}
